@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Poppins:wght@100;200;300;600&display=swap");

body {
  background-color: #fef7e1;
  font-family: "Poppins", sans-serif;
}
.container-fluid {
  background-image: url(/images/mobile.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container-fluid .box {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
a {
  text-decoration: none;
}
input,
input::placeholder {
  font-size: 15px;
  font-weight: bold;
}
